* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: antiquewhite;
}
ul {
  list-style: none;
}
li {
  color: white;
}
.active {
  color: rgb(98, 190, 252);
  text-decoration: underline;
  font-weight: bold;
}
body,
html {
  overflow-x: hidden;
}
.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  display: none;
}

/* Header */
.navbar {
  display: flex;
  position: absolute;
  background: rgb(67, 128, 189);
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 30px;
  color: whitesmoke;
}
.logo {
  color: rgb(255, 255, 255);
}
.nav-links {
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.nav-links li {
  margin: 0 30px;
}
/*image and text */
header {
  width: 100vw;
  height: 60vh;

  background-image: url(../images/about-us.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 72px;
}
.header-content {
  margin-bottom: 150px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.line {
  width: 150px;
  height: 4px;
  background-color: rgb(98, 190, 252);
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 10px;
}
/* About us */
section {
  width: 100vw;
  height: 50vh;
  background: rgb(255, 255, 255);
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(67, 128, 189, 1) 57%,
    rgba(0, 212, 255, 1) 100%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutUs {
  width: 80%;
  padding: 50px;

  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about-us-content {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us-content h2 {
  font-size: 4vmin;
  color: rgb(60, 91, 121);
  margin-bottom: 20px;
  text-align: center;
}
.about-us-content p {
  font-size: 2vmin;
  margin-bottom: 10px;
  border: 1px solid rgb(60, 91, 121);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 0 10px rgba(60, 91, 121, 0.356);
}

/* footer */

.box-footer {
  max-width: 1170px;

  margin: auto;
}
.footer {
  background-color: rgb(67, 128, 189);
  padding: 70px 0;
}

.row-2 {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 33.3%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  position: relative;
  font-weight: 500;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--button-bg-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffff;
  text-decoration: none;
  font-weight: 300;
  color: rgba(224, 224, 224, 0.87);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.cp-text {
  color: #ffff;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .navbar {
    padding: 0;
  }
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
  }
  .nav-links {
    background: rgb(67, 128, 189);

    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: -1000px;
    transition: all 0.5s ease-in-out;
    border-bottom-right-radius: 30%;
  }
  .mobile-menu {
    margin-top: 0px;
  }
  .nav-links li {
    margin: 30px auto;
    font-size: 25px;
  }
  .footer-col {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
  .footer-col h4 {
    margin: 20px 0 30px;
  }
}
