* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding-top: 80px;
}
ul {
  list-style: none;
}
li {
  color: white;
}
.active {
  color: rgb(98, 190, 252);
  text-decoration: underline;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: antiquewhite;
}
.logo img {
  transition: transform 0.3s ease;
}
.logo img:hover {
  transform: scale(1.1);
}
/* Header */
.navbar {
  display: flex;
  position: absolute;
  background: rgb(67, 128, 189);
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  color: whitesmoke;
}
.logo {
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
}
.nav-links {
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.nav-links li {
  margin: 0 30px;
}

.header-content h2 {
  font-size: 4vmin;
}
.line {
  width: 150px;
  height: 4px;
  background-color: rgb(98, 190, 252);

  border-radius: 5px;
}

.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  display: none;
}
/*Photo Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.gallery-container {
  display: flex;
  width: 100%;
  padding: 20px;
}
.gallery-container img {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery a {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 15px;
  background: rgb(98, 190, 252);
  border-radius: 30px;
  color: whitesmoke;
}
.gallery a:hover {
  background: whitesmoke;
  color: rgb(98, 190, 252);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/*House info */
.house-info {
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 20px;
}
.house-info h2 {
  font-size: 4vmin;
  margin-bottom: 20px;
  color: rgb(60, 91, 121);
}
.house-info-content p {
  font-size: 2vmin;
  margin-top: 30px;

  width: 100%;
  padding: 10px;
  border-radius: 10px;
}
.house-info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.house-info-content .line {
  width: 150px;
  height: 4px;
  background-color: rgb(98, 190, 252);
  margin-top: -10px;
  border-radius: 5px;
}
.house-services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.house-services .line {
  width: 100px;
  height: 4px;
  background-color: rgb(98, 190, 252);
  margin-top: -10px;
  border-radius: 5px;
}
.house-services h3 {
  font-size: 3vmin;
  margin-bottom: 20px;
  margin-top: 30px;
  color: rgb(60, 91, 121);
}
.services {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: 30px;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  border: 1px solid rgb(98, 190, 252);
}
.service p {
  margin-top: 5px;
  font-weight: 400;
}
#map h1 {
  color: rgb(60, 91, 121);
}
#map {
  width: 100%;
  padding: 30px;
}
#map .line {
  width: 150px;
  height: 4px;
  background-color: rgb(98, 190, 252);
  margin-top: 0px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*Populare Locations*/
.popular-location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  padding: 20px;
}
.popular-location h1 {
  font-size: 4vmin;

  margin-top: 30px;
  color: rgb(60, 91, 121);
}
.popular-location .line {
  width: 150px;
  height: 4px;
  background-color: rgb(98, 190, 252);

  border-radius: 5px;
}

.popular-location-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px;
  margin-top: 20px;
}
.popular-location-content h2 {
  font-size: 2vmin;
  margin-bottom: 10px;
  color: white;
  margin-top: 10px;
}
.popular-location-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(60, 91, 121);
  /*   background: rgb(88, 88, 88);
  background: linear-gradient(
    120deg,
    rgb(119, 119, 119) 0%,
    rgb(180, 180, 180) 57%,
    rgba(219, 219, 219, 1) 100%
  ); */
  border-radius: 10px;
}
.popular-location-item p {
  font-size: 1.5vmin;
  padding: 10px;
  color: white;
}
.btn-check {
  padding: 5px;
  margin: 5px;
  background: rgb(98, 190, 252);
  border-radius: 30px;
  padding: 8px 15px;
  color: rgb(0, 0, 0);
}
.btn-check:hover {
  background: whitesmoke;
  color: rgb(98, 190, 252);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.popular-location-item img {
  width: 90%;
  padding: 10px;
  height: 320px;

  overflow: hidden;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* footer */

.box-footer {
  max-width: 1170px;

  margin: auto;
}
.footer {
  background-color: rgb(67, 128, 189);
  padding: 40px 0;
}

.row-2 {
  display: flex;
  flex-wrap: wrap;
}
.footer-col {
  width: 33.3%;
  padding: 0;
  margin-bottom: 20px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 20px;
  position: relative;
  font-weight: 500;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--button-bg-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffff;
  text-decoration: none;
  font-weight: 300;
  color: rgba(224, 224, 224, 0.87);
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}
.cp-text {
  color: #ffff;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}

/*mobile device*/
@media screen and (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .navbar {
    padding: 0;
  }
  .logo {
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
  }
  .nav-links {
    background: rgb(67, 128, 189);

    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin-top: -1000px;
    transition: all 0.5s ease-in-out;
    border-bottom-right-radius: 30%;
  }
  .mobile-menu {
    margin-top: 0px;
  }
  .nav-links li {
    margin: 30px auto;
    font-size: 25px;
  }
  .house-info {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .house-info-content {
    align-items: center;
    justify-content: center;
  }

  .house-info h2 {
    text-align: center;
  }
  .house-info .line {
    width: 70px;
    height: 4px;
    background-color: rgb(98, 190, 252);

    border-radius: 5px;
  }
  .house-services {
    justify-content: center;
    align-items: center;
  }
  .house-services h3 {
    text-align: center;
    font-size: 16px;
  }
  .services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  .service {
    width: 50%;
  }
  #map {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #map h1 {
    text-align: center;
    font-size: 16px;
  }
  #map .line {
    width: 70px;
    height: 4px;
    background-color: rgb(98, 190, 252);
    margin-top: 10px;
    border-radius: 5px;

    align-items: center;
    justify-content: center;
  }
  .popular-location {
    align-items: center;
    justify-content: center;

    padding: 20px;
  }

  .popular-location h1 {
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .popular-location .line {
    width: 70px;
    height: 4px;
    background-color: rgb(98, 190, 252);
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .popular-location-item {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  .footer-col {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 1260px) {
  .popular-location-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 45%;
  }
}
